<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>

    <h1>CUSTOMER LIST</h1>
    <button><a href="/index/">HOME</a></button><br><br>


</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.age }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.contact }}</td>
                <td>
                    <a href="/update/{{ customer.id }}">Edit</a>
                    <a href="/delete/{{ customer.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <br><br>
    <center><button><a href="/cust">Add New Record</a></button></center>  
</body>
</html>